<!DOCTYPE html>
<head>
     <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>TestSite</title>


    {% include 'snippets/header.html' %}
    {% include 'snippets/base_css.html' %}



</head>
<body>
    <!-- Body -->
    <style type="text/css">
        .main{
            min-height: 100vh;
            height: 100%;
        }
    </style>

    <div class="main">
        {% block content %}

        {% endblock content %}
    </div>

    <!-- End Body -->

    <!-- Footer -->
    {% include 'snippets/footer.html' %}
    <!-- End Footer -->

</body>

</html>