{% extends 'base.html' %}

{% block content %}

<style type="text/css">

.container{
    margin-top: 100px;

}

</style>

<div class="container">
    <h1 style="text-align: center">Contact Us</h1>
    <p style="text-align: center">Yaqin kunlarda Contact ma'lumotlarimizni ma'lum qilamiz...!</p>

</div>


{% endblock content %}