{% extends 'base.html' %}


{% block content %}
<style type="text/css">

.container{
    margin-top: 100px;
}
</style>

<div class="container">{% csrf_token %}
    <h1 style="text-align: center">Our Team</h1>
    <p style="text-align: center">Hali jamoa agfsuski yuq...!</p>

</div>


{% endblock content %}