{% extends 'base.html' %}

{% block content %}

    <style type="text/css">
    .container{
    margin-top: 100px;
}
        .create-form{
            width: 100%;
            max-width: 100%;
            padding: 15px;
            margin: auto;
        }
        .submit-button{
            max-width: 200px;
        }

    </style>
    <div class="container">
        <div class="row">
            <div class="col-lg-7 offset-lg-1">
                <form class="create-form" method="post" enctype="multipart/form-data">{% csrf_token %}

                    <div class="form-group">
                        <label for="id_title">Title</label>
                        <input class="form-control" type="text" name="title" id="id_title" placeholder="Title"
                        required autofocus>
                    </div>
                    <div class="form-group">
                        <label for="id_body">Content</label>
                        <textarea class="form-control" rows="10" type="text" name="body" id="id_body" placeholder="Bu yerda nimadir haqida ..." required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="id_image">Image</label>
                        <input type="file" name="image" id="id_image" accept="image/*" required>
                    </div>

                    <button class="submit-button btn btn-lg btn-primary btn-block" type="submit">POST</button>
                </form>
            </div>
        </div>
    </div>

{% endblock content %}