{% extends 'base.html' %}

{% block content %}

<style type="text/css">

    .card {
        max-width: 700px;
    }
    .container{
        padding: 20px;
    }
</style>

<div class="container">
    <div class="row">

        <div class="card m-auto">
            <img class="card-img-top" src="{{blog_post.image.url}}">
            <div class="card-body my-2">
                <h2 class="card-title">{{blog_post.title}}</h2>
                <p class="card-text">{{blog_post.body|safe}}</p>
            </div>

        </div>
    </div>
</div>

{% endblock content %}