{% extends 'base.html' %}

{% load static %}

{% block content %}

<style type="text/css">
    .form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.h3{
  text-align: center;
}
.blog-posts{
    max-width: 500px;
    width: 100%;
    margin: auto;
}

</style>

<form class="form-signin" method="post">{% csrf_token %}
    <div class="d-flex flex-column pb-3">
        <img class="img-fluid mx-auto d-block" src="{% static 'logo.png' %}" alt="Dajngo test logo" width="72" height="72">
    </div>

  <h1 class="h3 mb-3 font-weight-normal">Update Your Account</h1>

  <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>

  <input type="text"  name="username" id="inputUsername" class="form-control" placeholder="Username" required>

    {% for field in account_form %}
    <p>
        {% for error in field.errors %}
            <p style="color: red; ">{{error}}</p>
        {% endfor %}
    </p>
    {% endfor %}

    {% if account_form.non_field_errors %}
        <div style="color:red;">
            <p>{{account_form.non_field_errors}}</p>
        </div>
    {% endif %}

  <button class="btn btn-lg btn-primary btn-block" type="submit">Save changes</button>

</form>

<div class="container mt-t p-4">
    <div class="row">
        <div class="blog-posts">
            <h3 class="h3 mb-3 font-weight-normal">My blog posts:</h3>
            {% if blog_posts %}
            <ul>
                {% for post in blog_posts %}
                <a href="{% url 'blog:detail' post.slug %}" style="text-decoration: none;">
                    <li class="list-group-item">{{post}}</li>
                </a>
                {% endfor %}
            </ul>
            {% else %}
            <p>You have no blog posts. Create a post <a href="{% url 'blog:create' %}">here</a>.</p>
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}