{% extends 'base.html' %}

{% load static %}

{% block content %}

<style type="text/css">

    .container{
        margin-top: 100px;
    }

</style>

<div class="container">
    <div class="d-flex flex-column">
        <div class="d-flex flex-column pb-3">
            <img class="img-fluid mx-auto d-block" src="{% static 'logo.png' %}" alt="Dajngo test logo" width="72" height="72">
        </div>
        <p class="m-auto">Must authenticate to view this page</p>
        <p class="m-auto">
            <a href="{% url 'register' %}">Register</a> or
            <a href="{% url 'login' %}">Login</a>
        </p>
    </div>
</div>

{% endblock content %}